/* Тут пиши основные стили */

.logo{
    width: 97px;
    height: 64px;

}
h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    width: 700px;
    padding-left: 48px;
    font-size: 42px;
}

h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    text-align: left;
    width: 700px;
    font-size: 34px ;
    padding-left: 48px;
}
p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    text-align: left;
    font-size: 21px;
    width: 700px;
    padding-left: 50px;
    color:rgba(0,0,0,0.84);
    line-height:33px;
}
script {
    font-family: "Courier New", monospace;
    font-size: 21px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 33px;
}
@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}

ul.menu {
    padding: 10px;
    background-color: #FAF9F8;
    text-decoration: none;
    list-style: none;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: grey;
    align-items: center;
}

li.point a:hover{
    cursor: pointer;
    text-decoration: 2px underline;
    color: red;
    align-content: center;
}

li.point {
    display: inline-block;
    font-size: 24px;
    color: #333333;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    text-align:left;
    line-height:36px;
    padding: 10px;
}
h1.header {
    width: 800px;
    align-items: center;
}